
.hotelRegister {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("images/banner1.jpg");
}

.signup-form {
    background-color: #a4a4a4;
    opacity: 0.8;
    display: flex;
    flex-wrap: wrap;
    height: 580px;
    font-family: "Roboto", sans-serif;
    width: 50%;
    margin: 30px auto;
    border-radius: 10px;
}

.form-header {
    width: 100%;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.back {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 42%;
    padding: 20px;
    font-size: 30px;
}


.form-header h1 {
    font-size: 30px;
    color: #666;
}

.hotelRegister-title {
    color: blanchedalmond;
    display: flex;
    padding: 10px 0;
    justify-content: flex-start;
    width: 80%;
}

.back-arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    padding: 10px 5px 10px 5px;
    width: 30%;
    background-color: #dad0d0;
    transition: all 0.3s;
}

.back-arrow:hover {
    background-color: #b99898;

}

.hotelRegister-form-body {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 20px;
}

.hotelRegister-form-body-label {
    color: blanchedalmond;
    font-size: 20px;
}


.hotelRegister-form-body-label::before {
    display: none;
}

.hotelRegister-form-body input {
    width: 75%;
    font-size: 20px;
    outline: none;
    background-color: #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 5px;
    height: 40px;
    padding: 2px 5px 2px 5px;
}


.about-icons {
    display: inline-block;
    padding-top: 5px;
}

.hotelRegister-form-text {
    border-radius: 5px;
    background-color: #e2e2e2;
    padding: 10px;
    width: 75%;
    font-size: 18px;
    border-bottom: 1px solid #e2e2e2;
    height: 100px;
    outline: none;
    resize: none;
}

.hotelRegister-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stars {
    transform: scale(-1, 1)
}

.hotelRegister-rating-stars {
    font-size: 40px;
    color: #bdb5b5;
    margin: 10px;
    cursor: pointer;
}
.stars_hotel{
    margin-left: 25%;
}


.hotelRegister-rating-stars:hover, .hotelRegister-rating-stars:hover ~ span {
    text-decoration: none;
    color: #1ae81a;
}

.hotelRegister-rating-select {
    cursor: pointer;
    font-size: 40px;
    margin: 10px;
    color: #1ae81a;
}

.hotelRegister-submit {
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    font-size: 35px;
    color: #ffffff;
    border: none;
    border-radius: 0 0 10px 10px;
    background-color: #1d1d1d;
    border-bottom: 1px solid white;
    transition: all 0.3s;
}

.hotelRegister-submit:hover {
    background-color: #19ccac;
    color: #c1eae6;
}
.footer{
    width: 100%;
    height: 1175px;
    background-color: #353535;
}
.contact{
    width: calc(750 / 1170 * 100% );
    height: 500px;
    background-color: #d7c7c7;
    margin: 80px auto;
    position: relative;
}
.input{
    display: flex;
    flex-wrap: wrap;
}
.input_name{
    width: 33%;
    height: 35px;
    background-color: #d7c7c7;
    margin: 80px 50px 50px 50px;
    border: 0;
    border-bottom: 1px solid #9ba0a0;
}

.input_name3{
    width: 83%;
    height: 35px;
    background-color: #d7c7c7;
    margin: 20px 50px 50px 50px;
    border: 0;
    border-bottom: 1px solid #9ba0a0;
}
.label_name {
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    padding: 80px 0 0 51px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
.input_name:focus-visible {
    border-bottom: 3px solid #d97e23;
    transition: 2s all;
}
.input_name:focus-visible>.label_name{
    padding: 0;
    position: absolute;


}
.label_name2{
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    padding: 80px 0 0 400px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.input_name2{
    width: 33%;
    height: 35px;
    background-color: #d7c7c7;
    margin:  10px 50px 50px 50px;
    border: 0;
    border-bottom: 1px solid #9ba0a0;
}
.label_name3{
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    padding: 180px 0 0 50px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
.label_name4{
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    padding: 180px 0 0 400px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
.label_name5{
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    padding: 280px 0 0 51px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
.button{
    width: 220px;
    height: 60px;
    background-color: #d97e23;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: calc(50% - 110px);
}



/*roms*/

/* Section: Portfolio */
.section-works{
    background: url("http://localhost:4000\images\2022-03\3e7b26b1-e948-4f69-ab54-dd44e68efb6d.jpg");
    background-size: cover;
    height: 80vh;
    padding:0;
    margin:0;

}
.portfolio {
    margin-top: 50px;
}

.portfolio-sorting {
    margin: 0;
    border-top: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
    border-bottom: 2px solid #196fc2;
    height: 47px;
}

.portfolio-sorting li {
    padding: 0;
    float: left;
}

.portfolio-sorting li a {
    position: relative;
    display: inline-block;
    padding: 0 30px;
    line-height: 44px;
    height: 44px;
    border-left: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
    text-transform: uppercase;
}

.portfolio-sorting li a:hover, .portfolio-sorting li a.active {
    background-color: #196fc2;
    color: #ffffff;
    border-color: #196fc2;
}

.portfolio-sorting li a:hover:after, .portfolio-sorting li a.active:after {
    border-color: #196fc2;
}

.portfolio-sorting li a:after, .portfolio-sorting li a.acitve:after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    display: block;
    border-top: 1px solid #dddddd;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.portfolio-sorting li a.active:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -11px;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #196fc2 transparent transparent transparent;
    z-index: 99;
}

.portfolio-sorting li + li a {
    border-left: 0;
}

.portfolio-sorting li + li a:after, .portfolio-sorting li + li a.active:after {
    left: 0px;
}

#grid {
    margin-top: 40px;
}

#grid .col-md-3 {
    padding: 0;
}

.portfolio-item {
    overflow: hidden;
}

.portfolio-item .portfolio-item-thumb {
    position: relative;
    height: 250px;
}

.portfolio-item .portfolio-item-thumb:after {
    content: '';
    background-color: #196fc2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.portfolio-item .portfolio-item-thumb .rectangle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 62px;
    margin: 0 auto;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 4px 4px 0px 0px rgba(238, 238, 238, 0.5);
    -o-box-shadow: 4px 4px 0px 0px rgba(238, 238, 238, 0.5);
    -moz-box-shadow: 4px 4px 0px 0px rgba(238, 238, 238, 0.5);
    box-shadow: 4px 4px 0px 0px rgba(238, 238, 238, 0.5);
    z-index: 99;
}

.portfolio-item .portfolio-item-thumb,
.portfolio-item .portfolio-info {
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.portfolio-item .portfolio-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    padding: 0 10px;
    text-align: center;
    transform: translateY(75px);
    -webkit-transform: translateY(75px);
    -moz-transform: translateY(75px);
    -o-transform: translateY(75px);
    -ms-transform: translateY(75px);
    opacity: 0;
    visibility: hidden;
}

.portfolio-item .portfolio-info h3 {
    margin: 20px 0 0;
    font-size: 16px;
    font-weight: 600;
}

.portfolio-item .portfolio-info h3 + p {
    margin: 10px 0 0;
    font-size: 12px;
    font-weight: 300;
    color: #bbbbbb;
}

.portfolio-item:hover .portfolio-item-thumb {
    transform: translateY(-75px);
    -webkit-transform: translateY(-75px);
    -moz-transform: translateY(-75px);
    -o-transform: translateY(-75px);
    -ms-transform: translateY(-75px);
}

.portfolio-item:hover .portfolio-item-thumb:after {
    opacity: 0.8;
}

.portfolio-item:hover .portfolio-item-thumb .rectangle {
    opacity: 1;
    visibility: visible;
}

.portfolio-item:hover .portfolio-item-thumb .rectangle:hover {
    background-color: #196fc2;
    border-color: #196fc2;
    color: #ffffff;
}

.portfolio-item:hover .portfolio-info {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

@media only screen and (max-width: 991px) {
    /* Section: Portfolio */
    .portfolio-sorting li a {
        padding: 0 15px;
    }
}

@media only screen and (max-width: 767px) {
    /* Section: Portfolio */
    .portfolio {
        margin-top: 30px;
    }
    .portfolio-sorting {
        height: 100%;
        border-right: 1px solid #f6f6f6;
        border-left: 1px solid #f6f6f6;
    }
    .portfolio-sorting li {
        float: none;
        width: 50%;
    }
    .portfolio-sorting li:nth-child(even) {
        margin-left: -4px;
    }
    .portfolio-sorting li a {
        border: 0;
        width: 100%;
        padding: 0;
        text-align: center;
        font-size: 10px;
    }
    .portfolio-sorting li a.active:before, .portfolio-sorting li a:after, .portfolio-sorting li a:hover:after, .portfolio-sorting li a.active::after {
        content: none;
    }
}

.img-res {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-contact .container {
    max-width: 770px;
}

.section-contact .container form {
    margin-top: 70px;
}

.section-contact .btn {
    margin-top: 50px;
    width: 100%;
    border-color: #dddddd;
    color: #000;
}

.section-contact .btn:hover {
    color: #ffffff;
    border-color: #196fc2;
}
@media only screen and (max-width: 767px) {
    /* Section: Contact */
    .section-contact .container form {
        margin-top: 30px;
    }
    .section-contact .btn {
        margin-top: 30px;
    }
    .form-control,
    textarea.form-control {
        margin-top: 15px;
    }
}
.h2_Booking{
    text-align: center;
}
.form_booking{
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.form_booking > .col-sm-12{
    margin-top: 25px;
}
