.img_slide{
    left: 100px;
    position: absolute;
    display: flex;
    width: 60%;
    height: 80%;
}
.img_one{
    padding: 15px;
    width: 300px;
    height: 200px;
    cursor: pointer;
}
.fon{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color:#827b7b;
}
.blockImg{
    position: absolute;
    width: 100%;
    height: 100%;
}
.img-list{
    width: 100%;
    height: 100%;
}
.img-list:hover{
    width: 105%;
    height: 105%;
    border: 1px solid #1ae81a;
}
.img_active{
    width: 105%;
    height: 105%;
    border: 1px solid #1ae81a;
}
.blockList{
    display: flex;
    right: 40px;
    position: absolute;
    flex-wrap: wrap;
    padding: 30px;
    width: 40%;
    height: 80%;
}
.img{
    border:1px solid black;
    z-index: 999;
}

._img{
    object-fit: cover;
    width: 80%;
    height: 100%;
}


/*Booking*/


.booking{
    width: 25%;
    height: 90%;
    position: absolute;
    top:50px;
    right: 0;
    background-color: whitesmoke;
}
.booking_Name{
    font-family:'Rancho-Regular';
    font-size: 35px;
    padding-top: 10px;
    text-align: center;
}