.closeRegister{
    width: 20px;
    height: 15px;
    color: red;
    position: absolute;
    right: 30px;
    font-size: 25px;
    cursor: pointer;
}
.activeError{
    border:1px solid red;
}
.img_hotels{
    object-fit: cover;
    width: 100px;
    height: 100px;

}
.menuHotel{
    height: 400px;

}
.menuHotel:hover{
    cursor: pointer;
    opacity: 0.6;
    color: #1ae81a;
}
#armeniamap{
    height: 310px;
    width: 120%;
    margin-left: -25%;
}
.cls-21{
    fill:#1ae81a;
}
.cls-16{
    fill: #e2167b;
}
.cls-12{
    fill: #5d3363;
}
.cls-14{
    fill: #3c5216;
}
.cls-13{
    fill: #6980c2;
}
.cls-11{
    fill: #002287;
}
.cls-20{
    fill: #899587;
}
.cls-19{
    fill: #e50000;
}
.cls-18{
    fill: #9e811b;
}
.cls-17{
    fill: #2d7884;
}
.cls-15{
    fill: #ef9dfa;
}
.region:hover{
    fill: #31b0d5;
    cursor: pointer;
}
.cls-sevan{
    fill: #1d99e0;
}
.cls-artsakh{
    fill: #ffd13c;
}
.small{
    font-size: 20px;
}
.mapouter{
    margin-left: 15%;
    position:relative;
    text-align:right;
    width:80%;
    height:250px;}
.gmap_canvas {overflow:hidden;background:none!important;width:80%;height:300px;}
.gmap_iframe {width:700px!important;height:300px!important;}
.team {
    width: 100%;
    height: 1100px;
    background-color: #181818;
}
.block_team{
    display: flex;
    flex-wrap: wrap;
}
.block1team{
    border-right: 1px solid #9ba0a0;
    position: relative;
    width: 280px;
    height: 320px;
}
.block1team:nth-child(n + 5){
    border-top: 1px solid #9ba0a0;
}
.block1team:nth-child(4n + 4){
    border-right: 0;
}


.img_team{
    margin-top: 50px;
    margin-left: 75px;
    width: 124px;
    height: 124px;
    position: absolute;
    border-radius: 100%;
}
.h4_team{
    font-size: 14px;
    color: #feb960;
    font-weight: 600;
    font-family: "Open Sans" , sans-serif;
    text-align: center;
}
.p_team_block1{
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans" , sans-serif;
    text-align: center;
}
.block_2_team{
    width: 100%;
    height: 50px;
    padding-top: 190px;
}

.block1team:hover .img_team{
    position: absolute;
    width: 50px;
    height: 50px;
    transition: 1s all;
    padding: 0;
    margin: 0;
}
.block1team:hover .block_2_team{
    display: flex;
    flex-direction: column;
    transition: 1s all;
    width: 80px;
    padding: 0;
    border-top: 1px solid red;
    border-left: 1px solid red;
}
.block1team:hover .p_team_block1{
    writing-mode: vertical-rl;
    padding-top: 76px;
    font-size: 13px;
    color: #ffffff;
    font-family: "Open Sswans" , sans-serif;
    text-align: center;
    position: absolute;
    transition: 1s all;
}
.block1team:hover .h4_team{
    writing-mode: vertical-rl;
    position: absolute;
    padding: 70px 0 0 30px;
    transition: 1s all;
}
.block_text2{
    width: 200px;
    height: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    bottom: -100%;
    margin-left: 80px;

}
.block1team:hover .block_text2{
    opacity: 1;
    bottom: 0;
    visibility: visible;
    transition: 1s all;
    margin-left: 80px;
}
.block_text2_p{
    font-size: 13px;
    line-height: 25px;
    color: #bababa;
    font-weight: 400;
    font-family: "Open Sans" , sans-serif;
}
.PaginationHotel{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
.PaginationHotel>li {
    width: 40px;
    height: 40px;
   list-style-type: none;
    background-color: #236d9b;
    border: 2px solid whitesmoke;
}
.PaginationHotel>li:hover {
    background-color: #ffffff;
    cursor: pointer;
    border: 1px solid whitesmoke;
}
.PaginationHotel>li:hover>a {
   color: black;
}
.PaginationHotel>li>a{
    padding: 9px;
    text-decoration: none;
    color:white;
    font-size: 18px;
}
.Rooms_hotel{
    width: 100%;
    height: 240px;
    position: relative;

}
.Rooms_hotel>img {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
}
.buttonHotels{
    width:100%;
    height:50%
}
.buttonHotels:hover{
    background-color: #1ae81a;
}

.Rooms_hotel>button{
    z-index: 999;
    position: absolute;
    height: 40px;
    width: 100%;
    background-color: #1ae81a;
    opacity: 0.6;
    border: 1px solid white;
    bottom: 0;
    left:0
}
.Rooms_hotel>button:hover{
    background-color: #ffffff;
}
.icon1:hover{
    color: white !important;
    background-color: red;
    opacity: 0.5;
}
